body {
	background-color: #87ACBE;
}

.header {
	display: block;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;

}

.my-title {
	font-family: 'Gloria Hallelujah', cursive;
	color: #46526E;
	padding: 15px;
	font-size: 60px;
	border-top: 4px solid #C2E7EB;
	border-bottom: 4px solid #C2E7EB;
}

.button-section {
	margin-top: 50px;
}

.giffy {
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #46526E;
	color: #C2E7EB;
	border-radius: 7px;
}

.giffy:hover {
	background-color: #AAFFF8;
	color: #46526E;
}

.display-gif {
	margin-top: 40px;
	display: inline;
}

.display-gif img {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 350px;
	height: 200px;
	border-radius: 5px;
	border: 5px solid white;
	float: left;
}

.display-gif img:hover {
	border: 5px solid #46526E;
	transition-duration: .3s;
}

.addButton-section {
	width: 35%;
	margin: 0 auto;
	margin-top: 25px;

}

.search-button {
	background-color: #46526E;
	color: #C2E7EB;
}

.search-button:hover {
	background-color: #AAFFF8;
	color: #46526E;
}

.my-giffy {
	float: left;
	text-align: center;
}

.rating {
	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: bold;
}




